libraries/*

build/node_modules/*
biuld/bower_components*
build/1/*
build/bower_components/**/
themes/showgirls_admin/css/style.css
themes/showgirls_admin/css/style.css


modules/ctools
modules/entity
modules/rules
modules/views
modules/workflow
modules/jquery_update
modules/l10n_update
modules/backup_migrate
modules/module_filter
modules/bulk_media_upload
modules/ckeditor
modules/devel
modules/file_entity
modules/libraries
modules/media
modules/plup
modules/plupload
modules/multiform
modules/token
modules/workbench
modules/workbench_access
modules/workbench_media
modules/workbench_moderation
modules/masquerade