// EDIT
#edit-field-media-und-ajax-wrapper {
  .preview {
    .media-item {
      padding: 5px;
    }

    .media-thumbnail {
      width: 120px;
      height: 120px;

      .label-wrapper {
        display: none;
      }
    }
  }
}

#media-tabs-wrapper .ui-tabs-nav li.ui-state-active a:link,
#media-tabs-wrapper .ui-tabs-nav li.ui-state-active a:visited {
 color: black;
}