@small: 768px;
@medium: 992px;
@large: 1200px;
@xlarge: 1600px;

@media(max-width:767px) {
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
    
    .page-user-login #block-system-main, 
    .page-user-login #block-block-2 {
        width: 100%;
        float: none;
        padding: 0;
    }
    
    .not-front #navbar {
        height: auto;
    }
    
    #navbar {
        .padding {
            padding: 0;
            
            .navbar-header {
                background: black;
                width: 100%;
                left: 0;
                z-index: 1000;
                position: fixed;
            }
        }
        
        .navbar-toggle {
                left: 10px;
                border: none !important;
        }
    }
    
    body.on-white {      
        .navbar-default {        
            .navbar-toggle {
                border-color: white;
                    
                .icon-bar {
                    background-color: white; 
                }
            }
        }
    }
    
    #navbar .addNav {
        margin-top: 0;
        position: fixed;
        z-index: 1001;
        right: 0;
        top: 10px;
    }
    
    .not-front #navbar .h1-container {
        padding-top: 95px;
        padding-bottom: 20px;
        height: auto;
    }
    
    .not-front #navbar .padding {
        height: auto;
    }
    
    .front .region-content {
        opacity: 1;
        width: 100%;
        
        p {
            text-align: left;
        }
    }
    
    body.philosophy .field-name-body .field-item {
        padding: 10px;
    }
    
    .what-we-do.page-node-413,
    .what-we-do.page-node-398,
    .what-we-do.page-node-557 { 
        .view {
            img {
                max-width: 220px;
                height: auto;
                width: 110px; 
            }
        }
    }
    
    .node-type-webform {
        .field-name-body p {
            text-align: left;
            font-size: 14px;
        }
        
        .webform-client-form {
            padding-left: 0;
            padding-right: 0;
            
            > div .webform-submit,
            > div .btn.showform {
                font-size: 18px;
                padding: 7px 14px;
            }
        }
    }
    
    .block .block-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .region.region-content-bottom {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .page-taxonomy.what-we-do {
        .view .col a .text-block {
            .views-field-field-date {
                opacity: 1;
                max-height: 200px; 
            }
        }
    }
    
    .date-display-start:after { content:"\A"; white-space:pre; }
    .date-display-start { padding-left: 10px;}
    
    .join.rent.node-type-webform #mcw section.block-system {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .page-partners .view {
        padding: 0;
        
        .views-row {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
       
    }
    
    .page-partners .view h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    
    .page-partners .view a .partnerTitle  {
        visibility: visible;
        text-align: left;
    }
    
    .page-partners .view a .partnerText {
        visibility: visible;
        padding: 5px 10px;
        color: white;
        text-align: left;
    }
    
    #azpLocation #mapImage .imgContainer .mapDot.badge {
        font-size: 8px;
        border-radius: 100%;
        min-width: 0;
        padding: 2px 4px;
    }
    
    body.map {
        
        .modal {
            margin-top: 10px;
        }

        .modal-header .close {
            position: static;
            right: 0;
            z-index: 900;
        }

        #mapLegend {     
            .modal-dialog.container {
                margin: 0;
                padding-left: 0;
                padding-right: 0;
                
                .modal-body {
                    padding: 15px 15px 30px 15px;
                }
            }
        }
    }
    
    .carousel-indicators {
        display: none;
    }
    
    #jquery_ajax_load {
        padding-right: 0 !important;
    }
    
    .modal-header .close {
        margin-right: 20px;
    }
    
    #edit-account {
        margin-top: 40px;
    }
    
    .g-recaptcha {
        transform:scale(0.7);
        margin-left: -40px;
    }
    
    .page-user-register {
        
        .password-strength {
            float: none;
        }
        
        div.password-suggestions {
            font-size: 12px;
        }
        
        .confirm-parent, 
        .password-parent,
        div.password-suggestions,
        .password-strength {
            width: auto !important;
        }
    }
        
}

@media (min-width:@small) {  
    .myModal {
        .modal-dialog {
            width: 90%; 
        }
    }
    
    .myModal.normal .modal-dialog {
        width: 600px;
    }
    
}

@media only screen and (max-device-width: @medium) and (orientation: portrait)  
{
 
}

@media (min-width: @medium) {
    .myModal.normal .modal-dialog {
        width: 970px;
    }
}

@media (max-width: 1023px) { 
    ul.tabs--primary li.ulogin-item-menu {
        display: none;
    }
}

@media (min-width: @large) {
   .myModal.normal .modal-dialog {
        width: 1170px;
    }
    
    body.map .modal-dialog.container .in-teaser {
        padding-left: 15px;
    }
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        .grid-offset(padding-left);
        .grid-offset(padding-right);
        
    }




 
  
