.node-foto {
    h1 {
        display: none;
    }
    
    .intro {
        &.fullscreen-cover {
            .imagecover {
                height: 100%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    
    .field-name-body {
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: justify;
    }
}

